{% extends "skeleton.html" %}

{% load static %}

{% block title %} {{block.super}} - Home {% endblock %}

{% block head %}
{{block.super}}
<!-- Countdown Timer -->
<script src="{% static 'js/countdown.js' %}" type="text/javascript"></script>

<!-- Owl Carousel -->
<script src="{% static 'js/owl.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.css' %}"/>
{% endblock %}

{% block content %}
<div id="home" class="home-header">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="hearth-center"></div>
        <h1><span class="text-primary">A</span>rianna &amp; <span class="text-primary">S</span>amuel</h1>
        <h2>We're Getting Married!</h2>
        <h4>January 4, 2020</h4>
      </div>
    </div>
  </div>
  <a class="down" href="#about"><h1 class="animated infinite fadeOutDown"><i class="fa fa-angle-down"></i></h1></a>
</div>

<div class="flex" id="nav-items-mobile">
  <div class="nav-item">
    <a href="#home"><h3>Home</h3></a>
  </div>
  <div class="nav-item">
    <a href="#about"><h3>Couple</h3></a>
  </div>
  <div class="nav-item">
    <a href="#story"><h3>Story</h3></a>
  </div>
  <div class="nav-item">
    <a href="#event"><h3>Event</h3></a>
  </div>
  <div class="nav-item">
    <a href="#party"><h3>Party</h3></a>
  </div>
  <div class="nav-item">
    <a href="#registry"><h3>Registry</h3></a>
  </div>
  <div class="nav-item">
    <a href="#rsvp"><h3>RSVP</h3></a>
  </div>
  <div id="nav-close">
    <i class="fas fa-times"></i>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="flex col-sm-12">
        <div class="header-icon">
          <h1>A</h1><i class="fas fa-heart"></i><h1>S</h1>
        </div>
        <div class="flex" id="nav-items">
          <div class="nav-item">
            <a href="#home"><h3>Home</h3></a>
          </div>
          <div class="nav-item">
            <a href="#about"><h3>Couple</h3></a>
          </div>
          <div class="nav-item">
            <a href="#story"><h3>Story</h3></a>
          </div>
          <div class="nav-item">
            <a href="#event"><h3>Event</h3></a>
          </div>
          <div class="nav-item">
            <a href="#party"><h3>Party</h3></a>
          </div>
          <div class="nav-item">
            <a href="#registry"><h3>Registry</h3></a>
          </div>
          <div class="nav-item">
            <a href="#rsvp"><h3>RSVP</h3></a>
          </div>
        </div>
        <div id="hamburger">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading">About <span class="text-primary">Us</span></h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">Some random information.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center margin-xs-b-2 margin-sm-b-2">
        <figure>
          <a data-fancybox="spouse" href="{% static 'img/ari.jpg' %}">
            <img class="img-fluid rounded-circle aos-init aos-animate" src="{% static 'img/ari.jpg' %}" data-aos="fade-right" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"/>
          </a>
        </figure>
        <div class="about-content col-sm-8 offset-sm-2">
          <h4>Arianna Victoria Smith <span class="text-primary">Bride</span></h4>
          <p>Some information about Arianna</p>
          <ul class="social-link">
            <li class="d-inline-block aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="200" data-aos-offset="200">
              <a target="_blank" href="https://www.facebook.com/asmithofmany"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="d-inline-block aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="400" data-aos-offset="200">
              <a target="_blank" href="https://www.instagram.com/arianna_victoria/"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <figure>
          <a data-fancybox="spouse" href="{% static 'img/sam.jpg' %}">
            <img class="img-fluid rounded-circle aos-init aos-animate" src="{% static 'img/sam.jpg' %}" data-aos="fade-left" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"/>
          </a>
        </figure>
        <div class="about-content col-sm-8 offset-sm-2">
          <h4>Samuel Edward Henry <span class="text-primary">Groom</span></h4>
          <p>Some information about Samuel</p>
          <ul class="social-link">
            <li class="d-inline-block aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="200" data-aos-offset="200">
              <a target="_blank" href="https://www.facebook.com/samuel.henry.97"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="d-inline-block aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="400" data-aos-offset="200">
              <a target="_blank" href="https://www.instagram.com/samhenry97/"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="quotes">
  <div class="container relative-z">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="owl-carousel owl-theme">
          <div>
            <h3 class="heading text-center">I can't brag about my love for God because I fail Him daily, but I can brag about His love for me because it never fails.</h3>
          </div>
          <div>
            <h3 class="heading text-center">There is never a time or place for true love. It happens accidentally, in a heartbeat, in a single flashing, throbbing moment.</h3>
          </div>
          <div>
            <h3 class="heading text-center">Love lets you find those hidden places in another person, even the ones they didn’t know were there, even the ones they wouldn’t have thought to call beautiful themselves.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="img-overlay"></div>
</section>

<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading">Our <span class="text-primary">Love</span> Story</h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">We're in love!</p>
      </div>
    </div>

    <div class="tline">
      <div class="row">
        <div class="tline-left col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/first-met.jpg' %}">
              <img src="{% static 'img/first-met.jpg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">27</div>
              <div class="month">aug</div>
              <div class="year">2017</div>
            </div>
          </div>
        </div>
        <div class="tline-right col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-right"></i></div>
          <h4 class="tline-title">First met</h4>
          <p>We met at the beginning of Arianna's Sophomore year and Samuel's Junior year of college. God had been working in both of our hearts to change churches, so we both decided to try out Grace Baptist Fellowship. We carpooled with two of our closest friends, and started running into each other everywhere after that.</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-right col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/first-date.jpeg' %}">
              <img src="{% static 'img/first-date.jpeg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">19</div>
              <div class="month">oct</div>
              <div class="year">2017</div>
            </div>
          </div>
        </div>
        <div class="tline-left col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-left"></i></div>
          <h4 class="tline-title">First Date</h4>
          <p>Our first "official" date was Artist Series at Bob Jones University. We went with the same people that we carpooled with when we first met. It was an absolute blast!</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-left col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/dating.jpeg' %}">
              <img src="{% static 'img/dating.jpeg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">7</div>
              <div class="month">jan</div>
              <div class="year">2018</div>
            </div>
          </div>
        </div>
        <div class="tline-right col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-right"></i></div>
          <h4 class="tline-title">Started Dating</h4>
          <p>Samuel attended a wedding of a good friend in Maryland and traveled up to see Arianna the day after. On that day, we started dating. It's been a whirlwind, joy, and blessing ever since!</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-right col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/iloveyou.jpg' %}">
              <img src="{% static 'img/iloveyou.jpg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">22</div>
              <div class="month">mar</div>
              <div class="year">2018</div>
            </div>
          </div>
        </div>
        <div class="tline-left col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-left"></i></div>
          <h4 class="tline-title">I Love You</h4>
          <p>We went to New York city during spring break at college. After a full day of activity, the first "I Love You" was on top of the Empire State Building.</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-left col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/engaged.jpeg' %}">
              <img src="{% static 'img/engaged.jpeg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">17</div>
              <div class="month">may</div>
              <div class="year">2019</div>
            </div>
          </div>
        </div>
        <div class="tline-right col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-right"></i></div>
          <h4 class="tline-title">Engaged!</h4>
          <p>We went on a missions trip to Antigua in May of 2019. On the last day there, the missionaries and team leaders helped Samuel set up for the engagement. We got engaged on one of the most beautiful beaches on the island!</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-right col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/marriage.jpeg' %}">
              <img src="{% static 'img/marriage.jpeg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">4</div>
              <div class="month">jan</div>
              <div class="year">2020</div>
            </div>
          </div>
        </div>
        <div class="tline-left col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-left"></i></div>
          <h4 class="tline-title">Wedding</h4>
          <p>We can't wait to be married!</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-left col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/engaged.jpeg' %}">
              <img src="{% static 'img/engaged.jpeg' %}"/>
            </a>
          </div>
        </div>
        <div class="tline-right col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-right"></i></div>
          <h4 class="tline-title">Future Plans</h4>
          <p>We plan on being married.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="countdown">
  <h1 class="text-center">The <span class="text-primary">Countdown</span></h1>
  <h4 class="text-center">January 4, 2020</h4>
  <div id="home-countdown"></div>
</section>

<section id="event">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading"><span class="text-primary">Wedding</span> Event</h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">Specific details about our wedding</p>
      </div>
    </div>
    <div class="row details">
      <div class="details-1 col-sm-12 col-md-6">
        <div id="ceremony">
          <h3>
            <span class="ceremony-number">
              1
            </span>
            Ceremony
          </h3>
          <div>
            <p>
              Our wedding ceremony will be held at Arianna's church at 1:00 pm on January 4, 2020. See the address or the map below for the location.
              <br><br>
              <b>3300 Ridge Road</b>
              <br>
              <b>Bloomsburg, PA 17815</b>
            </p>
          </div>
          <h3>
            <span class="ceremony-number">
              2
            </span>
            Reception
          </h3>
          <div>
            <p>
              The reception will be held immediately following the wedding ceremony. Meals will be provided for all who attend. The location is the same as the ceremony.
            </p>
          </div>
        </div>
      </div>
      <div class="details-2 col-sm-12 col-md-6">
        <h3>About the Wedding</h3>
        <p>
          We're both so excited for all those who are able to be with us on this special day! Thank you all for taking time out of your weekend to show support as we start our lives together.
        </p>
      </div>
    </div>
  </div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.3925455969925!2d-76.40389668473355!3d41.038544025511115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c5812ef6b2b3a7%3A0xad68c28586339922!2s3300+Ridge+Rd%2C+Bloomsburg%2C+PA+17815!5e0!3m2!1sen!2sus!4v1563244171087!5m2!1sen!2sus" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

<section id="party">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading">Bridal <span class="text-primary">Party</span></h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">We're Excited to Have These Special People!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="top-margin text-center">Bridesmaids</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/gabrielle.jpg' %}">
                    <img src="{% static 'img/gabrielle.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Gabrielle Smith</h5>
                  <p>Maid of Honor</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/natalie.jpg' %}">
                    <img src="{% static 'img/natalie.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Natalie Dunphy</h5>
                  <p>Friend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/erica.jpg' %}">
                    <img src="{% static 'img/erica.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Erica Connors</h5>
                  <p>Friend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/lydia.jpg' %}">
                    <img src="{% static 'img/lydia.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Lydia James</h5>
                  <p>Friend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/stephanie.jpg' %}">
                    <img src="{% static 'img/stephanie.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Stephanie Berard</h5>
                  <p>Friend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/priscilla.jpg' %}">
                    <img src="{% static 'img/priscilla.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Priscilla Henry</h5>
                  <p>Sister in Law</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <h4 class="top-margin text-center">Groomsmen</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/brendan.jpg' %}">
                    <img src="{% static 'img/brendan.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Brendan Cathers</h5>
                  <p>Best Man</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/jonathan.jpg' %}">
                    <img src="{% static 'img/jonathan.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Jonathan Henry</h5>
                  <p>Brother</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/josiahs.jpg' %}">
                    <img src="{% static 'img/josiahs.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Josiah Smith</h5>
                  <p>Brother in Law</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/ben.jpg' %}">
                    <img src="{% static 'img/ben.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Ben Clum</h5>
                  <p>Friend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/jacob.jpg' %}">
                    <img src="{% static 'img/jacob.jpg' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Jacob Brazeal</h5>
                  <p>Friend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"">
            <div class="party-card">
              <div class="party">
                <div class="party-img">
                  <a data-fancybox="party" href="{% static 'img/andrew.webp' %}">
                    <img src="{% static 'img/andrew.webp' %}"/>
                  </a>
                </div>
                <div class="party-content">
                  <h5>Andrew Miller</h5>
                  <p>Friend</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="registry">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading"><span class="text-primary">Gift</span> Registry</h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="registry-item">
          <i class="fas fa-bed"></i>
          <h2 class="font-secondary no-margin">Bed Bath &amp; Beyond</h2>
          <a class="button-medium btn btn-primary" href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/547706956?eventType=Wedding" target="_blank">Visit</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="registry-item">
          <i class="fab fa-amazon"></i>
          <h2 class="font-secondary no-margin">Amazon</h2>
          <a class="button-medium btn btn-primary" href="https://www.amazon.com/wedding/share/ariannasamuel" target="_blank">Visit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="rsvp" class="image-background">
  <div class="container relative-z">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="big-heading">RSVP</h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">Join us for our special day!</p>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.name %}
        </div>
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.email %}
        </div>
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.number %}
        </div>
        <div class="col-sm-12 col-md-6">
          {{ form.attending }}
        </div>
        <div class="col-sm-12">
          {% include 'snippets/field.html' with field=form.message %}
        </div>
        <div class="col-sm-12">
          <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </div>
      </div>
    </form>
  </div>
  <div class="img-overlay"></div>
</section>

<footer>
  <p>&copy; Samuel Henry {% now "Y" %}</p>
</footer>

<a id="scroll" href="#rsvp"></a>

<script>
new Countdown({
  selector: '#home-countdown',
  msgAfter: '<div class="countdown-item"><div>We\'re Married!</div></div>',
  msgPattern: '<div class="countdown-item"><div>{days}</div><div>Days</div></div> <div class="countdown-item"><div>{hours}</div><div>Hours</div></div> <div class="countdown-item"><div>{minutes}</div><div>Mins</div></div> <div class="countdown-item"><div>{seconds}</div><div>Secs</div></div>',
  dateEnd: new Date('Jan 4, 2020 13:00')
});

{% if scroll %}
$(document).ready(() => {
  $('#scroll').click();
});
{% endif %}
</script>
{% endblock %}
