{% extends "skeleton.html" %}

{% load static %}

{% block title %} {{block.super}} - Home {% endblock %}

{% block head %}
{{block.super}}
<!-- Countdown Timer -->
<script src="{% static 'js/countdown.js' %}" type="text/javascript"></script>

<!-- Owl Carousel -->
<script src="{% static 'js/owl.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.css' %}"/>
{% endblock %}

{% block content %}
<div id="home" class="home-header">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="hearth-center"></div>
        <h1><span class="text-primary">A</span>rianna &amp; <span class="text-primary">S</span>amuel</h1>
        <h2>We're Getting Married!</h2>
        <h4 style="font-weight: normal;">January 4, 2020</h4>
      </div>
    </div>
  </div>
  <a class="down" href="#about"><h1 class="animated infinite fadeOutDown"><i class="fa fa-angle-down"></i></h1></a>
</div>

<div class="flex" id="nav-items-mobile">
  <div class="nav-item">
    <a href="#home"><h3>Home</h3></a>
  </div>
  <div class="nav-item">
    <a href="#about"><h3>Couple</h3></a>
  </div>
  <div class="nav-item">
    <a href="#story"><h3>Story</h3></a>
  </div>
  <div class="nav-item">
    <a href="#event"><h3>Event</h3></a>
  </div>
  <div class="nav-item">
    <a href="#party"><h3>Party</h3></a>
  </div>
  <div class="nav-item">
    <a href="#photos"><h3>Gallery</h3></a>
  </div>
  <div class="nav-item">
    <a href="#registry"><h3>Registry</h3></a>
  </div>
  <div class="nav-item">
    <a href="#rsvp"><h3>RSVP</h3></a>
  </div>
  <div id="nav-close">
    <i class="fas fa-times"></i>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="flex col-sm-12">
        <div class="header-icon">
          <h1>A</h1><i class="fas fa-heart"></i><h1>S</h1>
        </div>
        <div class="flex" id="nav-items">
          <div class="nav-item">
            <a href="#home"><h3>Home</h3></a>
          </div>
          <div class="nav-item">
            <a href="#about"><h3>Couple</h3></a>
          </div>
          <div class="nav-item">
            <a href="#story"><h3>Story</h3></a>
          </div>
          <div class="nav-item">
            <a href="#event"><h3>Event</h3></a>
          </div>
          <div class="nav-item">
            <a href="#party"><h3>Party</h3></a>
          </div>
          <div class="nav-item">
            <a href="#photos"><h3>Gallery</h3></a>
          </div>
          <div class="nav-item">
            <a href="#registry"><h3>Registry</h3></a>
          </div>
          <div class="nav-item">
            <a href="#rsvp"><h3>RSVP</h3></a>
          </div>
        </div>
        <div id="hamburger">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading">About <span class="text-primary">Us</span></h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">Some tidbits about us</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center margin-xs-b-2 margin-sm-b-2">
        <figure>
          <a data-fancybox="spouse" href="{% static 'img/ari.jpg' %}">
            <img class="spouse-image aos-init aos-animate" src="{% static 'img/ari.jpg' %}" data-aos="fade-right" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"/>
          </a>
        </figure>
        <div class="about-content col-sm-10 offset-sm-1">
          <h4>Arianna Victoria Smith <span class="text-primary">Bride</span></h4>
          <p>Arianna was born to Tim and Lisa Smith on June 2, 1997. She grew up in Bloomsburg, Pennsylvania and attended Calvary Baptist Church, where her father serves as the senior pastor. She currently is a senior English major at Bob Jones University and will be graduating with her Bachelor's degree in December. Some of her favorite things are coffee, books, fuzzy blankets, cheesy Hallmark movies, and deep conversations.</p>
          <ul class="social-link">
            <li class="d-inline-block aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="200" data-aos-offset="200">
              <a target="_blank" href="https://www.facebook.com/asmithofmany"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="d-inline-block aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="400" data-aos-offset="200">
              <a target="_blank" href="https://www.instagram.com/arianna_victoria/"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <figure>
          <a data-fancybox="spouse" href="{% static 'img/sam.jpg' %}">
            <img class="spouse-image aos-init aos-animate" src="{% static 'img/sam.jpg' %}" data-aos="fade-left" data-aos-offset="300" data-aos-easin="ease-in-out-cubic"/>
          </a>
        </figure>
        <div class="about-content col-sm-10 offset-sm-1">
          <h4>Samuel Edward Henry <span class="text-primary">Groom</span></h4>
          <p>Samuel was born to Andrew and Heather Henry on June 4, 1997 in Jacksonville, Florida. He grew up in McDonough, Georgia and attended Bible Baptist Church. Sam graduated in May 2019 with his Bachelor's in Computer Science. He currently works as a software developer for Follett School Solutions, a company based in Illinois that creates software for schools. Some of his favorite things are running, playing piano, programming, and nerdy or good talks with friends.</p>
          <ul class="social-link">
            <li class="d-inline-block aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="200" data-aos-offset="200">
              <a target="_blank" href="https://www.facebook.com/samuel.henry.97"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="d-inline-block aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="400" data-aos-offset="200">
              <a target="_blank" href="https://www.instagram.com/samhenry97/"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="quotes">
  <div class="container relative-z">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="owl-carousel owl-theme">
          <div>
            <h3 class="heading text-center">I can't brag about my love for God because I fail Him daily, but I can brag about His love for me because it never fails.</h3>
          </div>
          <div>
            <h3 class="heading text-center">There is never a time or place for true love. It happens accidentally, in a heartbeat, in a single flashing, throbbing moment.</h3>
          </div>
          <div>
            <h3 class="heading text-center">Love lets you find those hidden places in another person, even the ones they didn’t know were there, even the ones they wouldn’t have thought to call beautiful themselves.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="img-overlay"></div>
</section>

<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading">Our <span class="text-primary">Love</span> Story</h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">We're in love!</p>
      </div>
    </div>

    <div class="tline">
      <div class="row">
        <div class="tline-left col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/timeline/first-met.jpg' %}">
              <img src="{% static 'img/timeline/first-met.jpg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">27</div>
              <div class="month">aug</div>
              <div class="year">2017</div>
            </div>
          </div>
        </div>
        <div class="tline-right col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-right"></i></div>
          <h4 class="tline-title">First met</h4>
          <p>We met at the beginning of Arianna's Sophomore year and Samuel's Junior year of college. God had separately led us both to begin attending and serving at Grace Baptist Fellowship. We carpooled to church with two of our closest friends, and Arianna immediately noticed Samuel’s kind and friendly nature. She began running into him everywhere after that and was afraid he thought she was stalking him. But they quickly realized how similiar their backgrounds were and developed a fast friendship.</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-right col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/timeline/first-date.jpeg' %}">
              <img src="{% static 'img/timeline/first-date.jpeg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">19</div>
              <div class="month">oct</div>
              <div class="year">2017</div>
            </div>
          </div>
        </div>
        <div class="tline-left col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-left"></i></div>
          <h4 class="tline-title">First Date</h4>
          <p>Our first "official" date was Artist Series at Bob Jones University. We went with the same people that we carpooled with when we first met. It was an absolute blast! Arianna was blown away by how Sam asked her to this event, by spelling out “Artist Series?” in tea lights on top of a pavilion back campus at BJU. How romantic!</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-left col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/timeline/dating.jpeg' %}">
              <img src="{% static 'img/timeline/dating.jpeg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">7</div>
              <div class="month">jan</div>
              <div class="year">2018</div>
            </div>
          </div>
        </div>
        <div class="tline-right col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-right"></i></div>
          <h4 class="tline-title">Started Dating</h4>
          <p>Samuel attended a wedding of a good friend in Maryland and traveled up to see Arianna the day after. On that day, we began dating. Arianna’s brother Josiah had given Sam some requirements before he could date Arianna. One of those requirements was making paper cranes, so when Sam asked Arianna he made sure to include some paper cranes. Dating has been a whirlwind, joy, and blessing ever since!</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-right col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/timeline/iloveyou.jpg' %}">
              <img src="{% static 'img/timeline/iloveyou.jpg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">22</div>
              <div class="month">mar</div>
              <div class="year">2018</div>
            </div>
          </div>
        </div>
        <div class="tline-left col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-left"></i></div>
          <h4 class="tline-title">I Love You</h4>
          <p>We went to New York City during spring break. After a wonderful, full day of activity with friends, we went to the top of the Empire State Building. It was a clear night with a beautiful view of the New York skyline, and we shared our first “I love you!”</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-left col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/timeline/engaged.jpeg' %}">
              <img src="{% static 'img/timeline/engaged.jpeg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">17</div>
              <div class="month">may</div>
              <div class="year">2019</div>
            </div>
          </div>
        </div>
        <div class="tline-right col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-right"></i></div>
          <h4 class="tline-title">Engaged!</h4>
          <p>We went on a missions trip to Antigua in May of 2019. On the last day there, the missionaries and team leaders helped Samuel set up for the engagement. We got engaged on one of the most beautiful beaches on the island! Arianna was completely surprised by the proposal. Samuel had arranged a flower heart on the beach for Arianna and before proposing sang a song he had written for her. And we were able to share half an hour on the beach celebrating our engagement by ourselves. It was absolutely perfect!</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-right col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/timeline/marriage.jpg' %}">
              <img src="{% static 'img/timeline/marriage.jpg' %}"/>
            </a>
            <div class="tline-date">
              <div class="day">4</div>
              <div class="month">jan</div>
              <div class="year">2020</div>
            </div>
          </div>
        </div>
        <div class="tline-left col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-left"></i></div>
          <h4 class="tline-title">Wedding</h4>
          <p>We can't wait to be married!</p>
        </div>
      </div>

      <div class="row">
        <div class="tline-left col-sm-12 col-md-6 text-center">
          <div class="tline-img aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-out-cubic">
            <a data-fancybox="story" href="{% static 'img/timeline/future.jpg' %}">
              <img src="{% static 'img/timeline/future.jpg' %}"/>
            </a>
          </div>
        </div>
        <div class="tline-right col-sm-12 col-md-6 text-left date-circle margin-b-2">
          <div class="tline-arrow"><i class="fa fa-chevron-right"></i></div>
          <h4 class="tline-title">Future Plans</h4>
          <p>We will be living in Greenville, South Carolina. Samuel will continue working for Follett School Solutions, as a Software Developer. Arianna is looking for employment, before Lord allowing she will begin grad school in the Fall of 2020.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="countdown">
  <h1 class="text-center">The <span class="text-primary">Countdown</span></h1>
  <h4 class="text-center">January 4, 2020</h4>
  <div id="home-countdown"></div>
</section>

<section id="event">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading"><span class="text-primary">Wedding</span> Event</h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">Specific details about our wedding</p>
      </div>
    </div>
    <div class="row details">
      <div class="details-1 col-sm-12 col-md-6">
        <div id="ceremony">
          <h3>
            <span class="ceremony-number">
              1
            </span>
            Ceremony
          </h3>
          <div>
            <p>
              Our wedding ceremony will be held at Arianna’s Church at 1:00 pm on January 4, 2020. See the address or the map below for the location.
              <br><br>
              <b>Calvary Baptist Church</b>
              <br>
              <b>3300 Ridge Road</b>
              <br>
              <b>Bloomsburg, PA 17815</b>
            </p>
          </div>
          <h3>
            <span class="ceremony-number">
              2
            </span>
            Reception
          </h3>
          <div>
            <p>
              A lunch reception will be held immediately following the wedding ceremony at the same venue.
            </p>
          </div>
        </div>
      </div>
      <div class="details-2 col-sm-12 col-md-6">
        <h3>About the Wedding</h3>
        <p>
          We're both so excited to share our joy with you on our special day! Thank you for all your support and encouragement as we start our lives together.
        </p>
        <h3>Accommodations</h3>
        <p>
          Rooms are available for discounted rates at the Hampton Inn and the Fairfield by Marriott in Bloomsburg.
  To reserve a room at the Hampton, call 1-570-380-1020 and mention the Smith-Henry wedding or make a reservation online using the code "SHW."
  To reserve a room at the Fairfield, call (570) 416-2777 and mention our wedding.
  Please make your reservations by December 3, 2019.
        </p>
      </div>
    </div>
  </div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.3925455969925!2d-76.40389668473355!3d41.038544025511115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c5812ef6b2b3a7%3A0xad68c28586339922!2s3300+Ridge+Rd%2C+Bloomsburg%2C+PA+17815!5e0!3m2!1sen!2sus!4v1563244171087!5m2!1sen!2sus" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

<section id="party">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading">Bridal <span class="text-primary">Party</span></h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5">We’re excited for these special people to stand beside us on our wedding day!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="top-margin text-center">Bridesmaids</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Gabrielle Smith</h2>Gabrielle and I are not only sisters, but also best friends. We enjoy spending time doing basically anything together. Gabrielle has an excellent sense of humor and keeps me smiling and laughing constantly. I couldn't ask for a better sister." href="{% static 'img/party/gabrielle.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/gabrielle.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Gabrielle Smith</h5>
                    <p>Maid of Honor</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Natalie Dunphy</h2>Natalie and I met at CIT at the Wilds of New England, but became close friends during College Algebra during our freshman year at Bob Jones. Natalie's friendship has been a major part of my growth at college, and I cannot imagine the past couple of years without her support." href="{% static 'img/party/natalie.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/natalie.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Natalie Dunphy</h5>
                    <p>Friend</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Erica Connors</h2>Erica and I met at an all state choir in Pennsylvania. We reconnected at college and became fast friends! Erica challenges me to be a better student, a deeper thinker, a more thoughtful friend, and a more humble servant of God.  Anytime we get together, we spend hours talking about basically anything you can think of!" href="{% static 'img/party/erica.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/erica.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Erica Connors</h5>
                    <p>Friend</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Lydia James</h2>Lydia and I met during our senior year of high school during an all state choir. I knew immediately that I wanted to be friends with her! Lydia has a contagious love for life and adventure that has made my time at college continually interesting and fun. I am so thankful for her positive and encouraging spirit and her desire to serve the Lord." href="{% static 'img/party/lydia.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/lydia.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Lydia James</h5>
                    <p>Friend</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Stephanie Berard</h2>Steph and I met because throughout freshman year, everyone kept thinking we were the other person. We then formed a close friendship working at the Wilds of New England together. We would end up spending the weekends together having long, edifying conversations. Steph has a wisdom beyond her years that is so encouraging to me." href="{% static 'img/party/stephanie.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/stephanie.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Stephanie Berard</h5>
                    <p>Friend</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Priscilla Henry</h2>Priscilla is Sam's younger sister. I had the opportunity to know her better this past year in our Discipleship Group. Priscilla is loyal and loving to the friends in her life. Sam and Priscilla share a sense of humor and a love for puns that is almost non-stop when they are together. She is creative and desires to use her talents to serve the Lord. We are excited to share our special day with her!" href="{% static 'img/party/priscilla.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/priscilla.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Priscilla Henry</h5>
                    <p>Sister in Law</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <h3 class="top-margin text-center">Groomsmen</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Brendan Cathers</h2>Brendan and I met through freshman choir, and we were in the same dorm during our freshman year of college. He is always ready to have deep spiritual conversations, but he also loves having fun with those around him. We have now been roommates during both our senior year and for a few months before he got married! Brendan is one of the Godliest guys I have known, and I'm thankful he's also one of my closest friends!" href="{% static 'img/party/brendan.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/brendan.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Brendan Cathers</h5>
                    <p>Best Man</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Jonathan Henry</h2>Jonathan is my little brother. He has a very creative mind, and he loves things like legos and games. We have enjoyed growing up together, from building spaceships and buildings, to playing games, to just hanging out. Recently, he has become interested in astronomy, and he is considering pursuing that in the future. I'm thankful to have him as part of the wedding!" href="{% static 'img/party/jonathan.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/jonathan.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Jonathan Henry</h5>
                    <p>Brother</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Josiah Smith</h2>Josiah is Arianna's younger brother, and also one of my closest friends. We first met when he came down for college up close a few months after Arianna and I met. Ever since then, I have enjoyed our conversations, hanging out together, and learning together. He is a very deep thinker - one of the smartest people I have met. He is also very motivated in everything he does. I'm excited to become his brother-in-law!" href="{% static 'img/party/josiahs.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/josiahs.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Josiah Smith</h5>
                    <p>Brother in Law</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Benjamin Clum</h2>Ben and I go way back! We went to the same church growing up, so we have known each other a long time. We roomed together during my freshman year of college. We are both software developers, so we get to work together every so often. Ben is always willing to have fun, and he invests in those around him. I am thankful for his friendship over the years!" href="{% static 'img/party/ben.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/ben.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Ben Clum</h5>
                    <p>Friend</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Jacob Brazeal</h2>Jacob and I met during our freshman year of college. He is a deep thinker, and he always loves a challenge. We have enjoyed being on programming teams with Nathan Collins over the last few years! Jacob is not only smart, but he also enjoys deep conversations. He is always willing to listen, and he has been a great friend over the years!" href="{% static 'img/party/jacob.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/jacob.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Jacob Brazeal</h5>
                    <p>Friend</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate" data-aos="zoom-in" data-aos-offset="300" data-aos-easin="ease-in-out-cubic">
            <a data-fancybox="bridal-party" data-caption="<h2>Andrew Miller</h2>Andrew and I met on the first day of our freshman year. Ever since then, we have been good friends. We have done a lot together over the years, and he has been there through all the changes in our lives. We were able to room together during my last semester of college. He is a hard worker, and he takes time to invest in those around him." href="{% static 'img/party/andrew.jpg' %}">
              <div class="party-card">
                <div class="party">
                  <div class="party-img">
                    <img src="{% static 'img/party/andrew.jpg' %}"/>
                  </div>
                  <div class="party-content">
                    <h5>Andrew Miller</h5>
                    <p>Friend</p>
                  </div>
                </div>
                <div class="zoom"><i class="fas fa-search-plus"></i></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="photos">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading"><span class="text-primary">Gallery</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="gallery-tabs">
          <ul>
            <li><a href="#gallery-dating">Dating</a></li>
            <li><a href="#gallery-engagement">Engagement</a></li>
            <li><a href="#gallery-wedding">Wedding</a></li>
          </ul>

          <div class="row" id="gallery-dating">
            {% for image in dating %}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a data-fancybox="dating" href="{% static image %}" class="gallery-holder aos-init aos-animate">
                  <img src="{% static image %}"/>
                </a>
              </div>
            {% endfor %}
          </div>

          <div class="row" id="gallery-engagement">
            {% for image in engage %}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a data-fancybox="engage" href="{% static image %}" class="gallery-holder aos-init aos-animate">
                  <img src="{% static image %}"/>
                </a>
              </div>
            {% endfor %}
          </div>

          <div class="row" id="gallery-wedding">
            <div class="col-sm-12">
              <h2 class="text-center">Coming Soon!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="registry">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="big-head-wrap">
          <img class="headline-hearth" src="{% static 'img/headline-hearth.svg' %}"/>
        </div>
        <h2 class="big-heading"><span class="text-primary">Gift</span> Registry</h2>
        <p class="sub-heading col-lg-8 offset-lg-2 margin-b-5"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="registry-item">
          <i class="fas fa-bed"></i>
          <h2 class="font-secondary no-margin">Bed Bath &amp; Beyond</h2>
          <a class="button-medium btn btn-primary" href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/547706956?eventType=Wedding" target="_blank">Visit</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="registry-item">
          <i class="fab fa-amazon"></i>
          <h2 class="font-secondary no-margin">Amazon</h2>
          <a class="button-medium btn btn-primary" href="https://www.amazon.com/wedding/share/ariannasamuel" target="_blank">Visit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="rsvp" class="image-background">
  <div class="container relative-z">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="big-heading">RSVP</h2>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text-secondary" style="font-weight: bold;">NOTE:</h3>
        <p>We wish we could invite every single one of our beloved friends and family!</p>
        <p>Although we can't invite all of you, know that each and every one of you has a special place in our hearts and we look forward to sharing more of our life journeys with you!</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text-secondary" style="font-weight: bold;">CHILDREN:</h3>
        <p>Although we love your children, we ask that young children not attend the ceremony or reception.</p>
        <p>For family and friends traveling out of town, let us know if you will need childcare and we will provide childcare for the day.</p>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.name %}
        </div>
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.email %}
        </div>
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.number %}
        </div>
        <div class="col-sm-12 col-md-6">
          {{ form.attending }}
        </div>
        <div class="col-sm-12">
          {% include 'snippets/field.html' with field=form.message %}
        </div>
        <div class="col-sm-12">
          <center><button id="rsvp_button" type="submit" class="btn btn-primary">Submit</button></center>
        </div>
      </div>
    </form>
  </div>
  <div class="img-overlay"></div>
</section>

<footer>
  <p>&copy; Samuel Henry {% now "Y" %}</p>
</footer>

<a id="scroll" href="#rsvp"></a>

<script>
new Countdown({
  selector: '#home-countdown',
  msgAfter: '<div class="countdown-item"><div>We\'re Married!</div></div>',
  msgPattern: '<div class="countdown-item"><div>{days}</div><div>Days</div></div> <div class="countdown-item"><div>{hours}</div><div>Hours</div></div> <div class="countdown-item"><div>{minutes}</div><div>Mins</div></div> <div class="countdown-item"><div>{seconds}</div><div>Secs</div></div>',
  dateEnd: new Date('Jan 4, 2020 13:00')
});

{% if scroll %}
$(document).ready(() => {
  $('#scroll').click();
});
{% endif %}
</script>
{% endblock %}
