{% extends "skeleton.html" %}

{% load static %}

{% block title %} {{block.super}} - RSVP {% endblock %}

{% block content %}
<div id="home"></div>

<div class="flex" id="nav-items-mobile">
  <div class="nav-item">
    <a href="{% url 'home' %}#home"><h3>Home</h3></a>
  </div>
  <div class="nav-item">
    <a href="{% url 'home' %}#about"><h3>Couple</h3></a>
  </div>
  <div class="nav-item">
    <a href="{% url 'home' %}#story"><h3>Story</h3></a>
  </div>
  <div class="nav-item">
    <a href="{% url 'home' %}#event"><h3>Event</h3></a>
  </div>
  <div class="nav-item">
    <a href="{% url 'home' %}#party"><h3>Party</h3></a>
  </div>
  <div class="nav-item">
    <a href="{% url 'home' %}#photos"><h3>Gallery</h3></a>
  </div>
  <div class="nav-item">
    <a href="{% url 'home' %}#registry"><h3>Registry</h3></a>
  </div>
  <div class="nav-item">
    <a href="#rsvp"><h3>RSVP</h3></a>
  </div>
  <div id="nav-close">
    <i class="fas fa-times"></i>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="flex col-sm-12">
        <div class="header-icon">
          <h1>A</h1><i class="fas fa-heart"></i><h1>S</h1>
        </div>
        <div class="flex" id="nav-items">
          <div class="nav-item">
            <a href="{% url 'home' %}#home"><h3>Home</h3></a>
          </div>
          <div class="nav-item">
            <a href="{% url 'home' %}#about"><h3>Couple</h3></a>
          </div>
          <div class="nav-item">
            <a href="{% url 'home' %}#story"><h3>Story</h3></a>
          </div>
          <div class="nav-item">
            <a href="{% url 'home' %}#event"><h3>Event</h3></a>
          </div>
          <div class="nav-item">
            <a href="{% url 'home' %}#party"><h3>Party</h3></a>
          </div>
          <div class="nav-item">
            <a href="{% url 'home' %}#photos"><h3>Gallery</h3></a>
          </div>
          <div class="nav-item">
            <a href="{% url 'home' %}#registry"><h3>Registry</h3></a>
          </div>
          <div class="nav-item">
            <a href="#rsvp"><h3>RSVP</h3></a>
          </div>
        </div>
        <div id="hamburger">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="rsvp" class="image-background">
  <div class="container relative-z">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="big-heading">RSVP</h2>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text-secondary" style="font-weight: bold;">NOTE:</h3>
        <p>We wish we could invite every single one of our beloved friends and family!</p>
        <p>Although we can't invite all of you, know that each and every one of you has a special place in our hearts and we look forward to sharing more of our life journeys with you!</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text-secondary" style="font-weight: bold;">CHILDREN:</h3>
        <p>Although we love your children, we ask that young children not attend the ceremony or reception.</p>
        <p>For family and friends traveling out of town, let us know if you will need childcare and we will provide childcare for the day.</p>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.name %}
        </div>
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.email %}
        </div>
        <div class="col-sm-12 col-md-6">
          {% include 'snippets/field.html' with field=form.number %}
        </div>
        <div class="col-sm-12 col-md-6">
          {{ form.attending }}
        </div>
        <div class="col-sm-12">
          {% include 'snippets/field.html' with field=form.message %}
        </div>
        <div class="col-sm-12">
          <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </div>
      </div>
    </form>
  </div>
  <div class="img-overlay"></div>
</section>

<footer>
  <p>&copy; Samuel Henry {% now "Y" %}</p>
</footer>
{% endblock %}
