{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Arianna and Samuel{% endblock %}</title>

  {% block head %}
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <!-- Hotjar -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1422118,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144825900-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-144825900-1');
  </script>

  <!-- Fancybox -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

  <!-- Animate -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/c41a2e61ab.js"></script>

  <!-- AOS Animation Library -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Actual wedding website content -->
  <meta property="og:site_name" content="Arianna and Samuel"/>
  <meta property="og:description" content="Arianna and Samuel's Wedding - RSVP, accommodations, bridal party, gallery, and much more!"/>
  <meta property="og:image" content="https://www.ariannasamuel.com/static/img/home-header.png"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://www.ariannasamuel.com"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/app.scss' %}"/>
  <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
  {% endblock %}
</head>
<body>
  {% if user.is_authenticated %}
    <a href="{% url 'guests' %}" class="guests">
      <p class="text-center"><i class="fas fa-users"></i></p>
      <p>Download RSVP's</p>
    </a>
  {% endif %}

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <p>{{ message }}</p>
            <i class="close-message fas fa-times"></i>
          </li>
        {% endfor %}
    </ul>
  {% endif %}

  {% block content %}{% endblock %}

  <script>AOS.init();</script>
</body>
</html>
