@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Dosis|Great+Vibes|Raleway|Muli&display=swap');

$theme-colors: (
  'primary': #700808,
  'secondary': #DFC2C2,
  'light': #D2D2D2,
  'dark': #2D2C35
);

@import 'bootstrap/bootstrap';

h1 {
  font-size: 4em;
  margin: 0;
}

h1, h2 {
  font-family: 'Great Vibes', cursive;
}

h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-family: 'Muli', sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
}

section {
  padding: 8rem 0;
  position: relative;
}

figure {
  margin: 0 0 1rem;
  padding: 3rem;
  img { width: 100%; }
}

.font-primary { font-family: 'Great Vibes', cursive; }
.font-secondary { font-family: 'Dosis', sans-serif; }
.top-margin { margin-top: 2rem; }
.no-margin { margin: 0; }
.flex { display: flex; }
.flex-fill { flex-grow: 1; }

.slide-in {
  right: 0 !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  z-index: 100;
}

.sticky + section {
  @include media-breakpoint-up(md) { margin-top: 68px; }
  @include media-breakpoint-down(sm) { margin-top: 48px; }
}

.clear-link {
  display: block;
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
  }
}

.messages {
  position: fixed;
  z-index: 300;
  list-style: none;
  width: 100%;
  top: 0;
  padding: 16px 10%;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 4px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);

    &.success { background-color: theme-color-level('success'); }
    &.warning { background-color: theme-color-level('danger'); }

    p {
      margin: 0;
      flex-grow: 1;
    }

    i {
      padding: 4px;
      cursor: pointer;
    }
  }
}

.home-header {
  @include media-breakpoint-up(md) { height: 100vh; }
  @include media-breakpoint-down(sm) { height: calc(var(--vh, 1vh) * 100); }
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/home-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(20%) blur(2px);
  }

  h2 {
    font-family: 'Dosis';
    letter-spacing: 2px;
  }

  .down {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include media-breakpoint-up(md) { bottom: 100px; }
    @include media-breakpoint-only(xs) { bottom: 50px; }
    @include media-breakpoint-only(sm) { bottom: 50px; }
  }

  .hearth-center {
    position: absolute;
    left: 0;
    width: 100%;
    background-image: url('/static/img/hearth-center.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    filter: opacity(40%);

    @include media-breakpoint-only(xl) { top: -120px; height: 380px; }
    @include media-breakpoint-only(lg) { top: -90px; height: 320px; }
    @include media-breakpoint-only(md) { top: -50px; height: 260px; }
    @include media-breakpoint-down(sm) { top: -20px; height: 200px; }
  }
}

header {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -2px 2px rgba(0, 0, 0, 0.2);
  background-color: white;

  .header-icon {
    flex-grow: 1;
    display: flex;
    align-items: center;

    h1 {
      @include media-breakpoint-up(md) { font-size: 42px; }
      @include media-breakpoint-down(sm) {
        font-size: 32px;
        padding: 8px;
      }
      color: theme-color('primary');
      margin-bottom: -8px;
    }

    i {
      @include media-breakpoint-up(md) {
        padding-left: 4px;
        padding-right: 2px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 2px;
      }
      font-size: 18px;
      color: theme-color('secondary');
    }
  }

  #nav-items {
    transition-duration: 0.4s;

    @include media-breakpoint-down(sm) { display: none; }

    .nav-item {
      height: 100%;
      padding: 1.4rem 0.7rem;

      a {
        height: 100%;
        text-decoration: none;
        color: black;

        display: block;

        &:hover {
          color: theme-color('primary');
        }

        h3 { margin: 0; }
      }
    }
  }

  #hamburger {
    font-size: 24px;
    color: white;

    @include media-breakpoint-up(md) { display: none; }

    i {
      background-color: theme-color('primary');
      padding: 8px 12px;
      margin: 4px;
      border-radius: 2px;
    }
  }
}

#nav-items-mobile {
  transition-duration: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  right: -100vw;
  box-shadow: 8px 0 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 200;

  @include media-breakpoint-up(md) { display: none; }

  .nav-item {
    height: 100%;
    padding: 0.75rem;

    &:not(:first-child) {
      border-top: 1px solid theme-color('light');
    }

    a {
      height: 100%;
      text-decoration: none;
      color: black;

      display: block;

      &:hover {
        color: theme-color('primary');
      }

      h3 { margin: 0; }
    }
  }

  #nav-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    background-color: theme-color('primary');
    padding: 2px 12px;
    margin: 4px;
    color: white;
  }
}

.big-head-wrap {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  z-index: -1;

  @include media-breakpoint-up(md) { top: -28px; }

  .headline-hearth {
    max-width: 100%;
    height: auto;
  }
}

.big-heading {
  margin-bottom: 1rem;
  line-height: 1em;
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
}

.big-heading-underline {
  width: 215px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.sub-heading {
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
  color: theme-color('dark');
}

.social-link {
  padding: 0;
  margin: 0;

  li a {
    border: 1px solid theme-color-level('dark', -5);
    color: theme-color('primary');
    display: block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 38px;
    transition: all 250ms ease-in-out;
    &:hover {
      color: white;
      background-color: theme-color('primary');
    }
  }
}

#quotes {
  color: white;
  background: url('/static/img/charleston.jpg') no-repeat fixed center center / cover;
}

.owl-carousel {
  .owl-dots .owl-dot.active span {
    background-color: theme-color('primary') !important;
  }
}

.img-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.relative-z {
  position: relative;
  z-index: 3;
}

.tline {
  margin-top: 3rem;
  position: relative;

  @include media-breakpoint-up(md) {
    &::before {
      content: '';
      background-color: theme-color('light');
      position: absolute;
      left: 50%;
      top: 30px;
      width: 1px;

      @include media-breakpoint-only(md) { bottom: 180px; }
      @include media-breakpoint-only(lg) { bottom: 260px; }
      @include media-breakpoint-only(xl) { bottom: 330px; }
    }
  }

  > .row {
    margin-bottom: 5rem;
  }

  .tline-title {
    margin-top: 20px;
  }

  .tline-img img {
    width: 100%;
    border-radius: 0.3rem;
  }

  .tline-left {
    @include media-breakpoint-up(md) {
      order: 0;
      padding-right: 70px;
      h4 { text-align: right; }
      p { text-align: right; }
    }

    .tline-date {
      left: 1rem;
    }

    .tline-arrow {
      right: 40px;
    }
  }

  .tline-right {
    @include media-breakpoint-up(md) {
      order: 1;
      padding-left: 70px;

      &::after {
        content: '\f004';
        font-family: 'Font Awesome 5 Pro';
        color: white;
        font-weight: 900;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: theme-color('primary');
        border: 3px solid theme-color('secondary');
        border-radius: 50%;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 16px;
        left: -20px;
      }
    }

    .tline-date {
      right: 1rem;
    }

    .tline-arrow {
      left: 40px;
    }
  }

  .tline-date {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    top: 1rem;
    border-radius: 3px;
    border-bottom: 3px solid theme-color('primary');

    > div {
      padding: 5px;
    }

    div:not(:first-child) {
      border-top: 1px solid theme-color('light');
    }

    .month {
      color: theme-color('primary');
    }
  }

  .tline-arrow {
    position: absolute;
    top: 22px;
    color: theme-color('primary');

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.details {
  h3 {
    margin-top: 2rem;
  }

  @include media-breakpoint-up(md) {
    .details-1 {
      order: 2;
      padding-left: 2rem;
    }
    .details-2 {
      order: 1;
      text-align: right;
      padding-right: 2rem;
    }
  }
}

#countdown {
  background-image: url('/static/img/tiled.png');

  #home-countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;

    @include media-breakpoint-down(md) { margin: 1rem auto; }

    .countdown-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 120px;
      background-color: white;
      border-radius: 6px;
      margin: 1rem;
      border: 2px solid theme-color('light');
      padding-bottom: 1rem;

      div:first-child {
        font-size: 3rem;
        color: theme-color('primary');
        font-family: 'EB Garamond', cursive;
      }

      div:last-child {
        font-family: 'Dosis';
        text-transform: uppercase;
      }
    }
  }
}

#event {
  padding-bottom: 0;
}

#ceremony {
  h3 {
    color: theme-color('primary');
  }

  > div {
    margin-left: 64px;
    position: relative;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      width: 1px;
      background-color: theme-color('light');
      left: -44px;
      top: -8px;
      bottom: -32px;
    }
  }

  .ceremony-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid theme-color('light');
    border-radius: 4px;
    color: theme-color('primary');
    width: 40px;
    height: 40px;
    margin-right: 18px;
    transition-duration: 0.5s;
  }
}

.registry-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid theme-color('light');
  margin-top: 2rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;

  &:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }

  i {
    font-size: 3rem;
    color: theme-color('light');
    margin-bottom: 1rem;
  }
}

#party {
  h3 {
    font-size: 2rem;
    margin: 2rem auto;
  }

  .party-card {
    position: relative;
    width: 100%;
    color: black;
    @include media-breakpoint-up(lg) { padding-top: 110%; }
    @include media-breakpoint-only(md) { padding-top: 115%; }
    @include media-breakpoint-only(sm) { padding-top: 110%; }
    @include media-breakpoint-only(xs) { padding-top: 110%; }

    .zoom {
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      font-size: 0;
      opacity: 0.4;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transition-duration: 0.25s;
      margin-bottom: 2rem;
      border-radius: 50%;
    }

    .party {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 2rem;
      transition-duration: 0.25s;
      text-align: center;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);

      .party-img {
        flex-grow: 1;
        overflow: hidden;
        height: 100%;
        background-color: green;
        img {
          overflow: hidden;
          width: 100%;
          transition-duration: 0.5s;
          transform: rotate(0deg) scale(1.2);
        }
      }
      .party-content {
        padding: 8px;
        h5 { margin: 0; }
        p { margin-bottom: 8px; }
      }
    }

    &:hover {
      .zoom {
        font-size: 64px;
        background-color: rgba(255, 255, 255, 0.6);
      }

      .party-img img {
        transform: rotate(8deg) scale(1.4);
      }

      .party {
        background-color: theme-color-level('light', -4);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

#photos {
  background-image: url('/static/img/tiled.png');

  .ui-tabs-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li {
      text-align: center;
      width: 120px;
      background-color: white;
      transition-duration: 0.3s;

      &:hover {
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8);
        background-color: theme-color('light');
      }

      &.ui-tabs-active {
        background-color: theme-color('primary');
        a { color: white; }
      }

      &:not(:last-child) { border-right: 1px solid theme-color('light'); }
      &:first-child {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }
      &:last-child {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }

      a {
        padding: 8px;
        display: block;
        text-decoration: none;
        color: black;
      }
    }
  }

  .gallery-holder {
    margin-top: 2rem;
    display: block;
    overflow: hidden;
    height: 256px;
    border-radius: 0.3rem;
    transition-duration: 0.3s;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);

    &:hover {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    }

    img {
      object-fit: cover;
      object-position: top;
      height: 256px;
      width: 100%;
      transition-duration: 0.5s;

      &:hover {
        transform: rotate(8deg) scale(1.2);
      }
    }
  }
}

#rsvp {
  background: url('/static/img/rsvp.jpeg') no-repeat fixed center center / cover;

  .sub-heading {
    margin-bottom: 0;
  }
}

input[type=text], input[type=number], select {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 2rem;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-top: 2rem;
}

.errorlist {
  margin: 0;
  padding: 4px 8px;
  list-style: none;
  color: black;
  background-color: theme-color-level('danger');
}

.btn {
  border-radius: 0;
  margin-top: 2rem;
}

.image-background {
  color: white;
  p { color: white; }
}

.fancybox-caption {
  background: theme-color('light');
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: 1.0rem;
  box-shadow: 0 -20px 30px 0 rgba(0, 0, 0, 0.75);

  @include media-breakpoint-up(lg) { padding: 20px 20%; }
  @include media-breakpoint-only(md) { padding: 20px 10%; }
  @include media-breakpoint-down(sm) { padding: 20px 8px; }

  h2 {
    color: theme-color('primary');
  }
}

footer {
  background: none;
  background-color: theme-color('dark');
  color: theme-color('light');
  display: flex;
  justify-content: center;
  padding: 8px;

  p { margin: 0; }
}
